<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.FourGoodLeadGroupAssessMapper">
    <resultMap id="SubmitFourGoodAssessChild"
               type="com.authine.cloudpivot.web.api.bean.fourgoodleadgroup.SubmitFourGoodAssessChild">
        <result property="assessIndex" column="assess_index"/>
        <result property="score" column="score"/>
    </resultMap>
    <update id="updateAvgScore" parameterType="java.util.List">
        UPDATE i6rlc_launch_fourgood_element
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="avgScore = case" suffix="end,">
                <foreach collection="submitFourGoodAssessChildren" item="item" index="index">
                    <if test="item.score != null">
                        when assess_index = #{item.assessIndex} then #{item.score}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="submitFourGoodAssessChildren" item="item" index="index" separator="or">
            parentId = #{id}
        </foreach>
    </update>
    <select id="countAvgScore" resultMap="SubmitFourGoodAssessChild">
        select assess_index, ROUND(avg(score), 2) score
        from i6rlc_fourgoodleadgroupdetail
        where fourgoodform = #{id}
        GROUP BY assess_index
    </select>
</mapper>