<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.OrgDepartmentMapper">

    <resultMap id="lastLevelDepartment" type="java.util.Map">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <select id="getLastLevelDepartment" resultMap="lastLevelDepartment">
        SELECT id, name
        FROM h_org_department
        WHERE parentId = #{parentId}
          AND deleted = 0
    </select>
</mapper>